/* CSS resets */
* {
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Custom CSS */
body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#top-nav {
    width: 50%;
    margin: 1.5rem auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    z-index: 1;
}
#top-nav a {
    font-size: .7rem;
    text-decoration: none;
}
#top-nav a:link,
#top-nav a:visited,
#top-nav a:hover,
#top-nav a:active {
    color: white;
}
#social-media-nav {
    padding: 0;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    transform-origin: left;
    transform: rotate(90deg) translate(-20px, -60px);
    z-index: 1;
}
#social-media-nav a {
    margin: 0 1rem;
    font-family: 'Bodini Moda', serif;
    font-style: italic;
    font-size: 1rem;
    text-decoration: none;
}
#social-media-nav a:link,
#social-media-nav a:visited,
#social-media-nav a:hover,
#social-media-nav a:active {
    color: white;
}
#social-media-nav img {
    width: 1rem;
    margin-right: .2rem;
}
#hero {
    width: 100%;
    height: 100vh;
    position: relative;
    top: -67px;
    color: white;
    background-image: linear-gradient(to right, #303030, white), url(images/hero-image.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 150%;
    background-position: 20% 10%;
    background-blend-mode: multiply;
    animation: 4s ease-out forwards fade-in;
}
#title-container {
    width: 50%;
    height: 100%;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#company {
    font-family: 'Bodini Moda', serif;
    font-optical-sizing: auto;
    font-size: 7rem;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}
#main-services {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}